html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
/*-----body-----*/
body {
  margin: 0;
}
/*-----header-----*/
header,
header * {
  border: 2px solid black;
}
/*nav*/
nav {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  align-items: center;
  text-align: center;
}
nav ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  width: 100%;
}
/*-----main-----*/
main,
main * {
  border: 2px solid black;
}
main {
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
}
main div:nth-child(1) {
  margin-left: 10%;
}
main div img {
  width: 100%;
  height: 100%;
}
/*-----footer-----*/
footer,
footer * {
  border: 2px solid black;
}
footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: auto 5%;
}
